
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<form asp-controller="Home" asp-action="Send" method="post">
        <div>
            <input class="button" type="submit" value="Send a message">
        </div>
    </form>*@

    <div>
        <a href="~/Home/Send">Send</a>
    </div>
</body>
</html>
